<polymer-element name="potyvirus-interactions-table">
    <template>
        <style>
            :host {
                display: block;
                background-color: #ffffff;
            }

        </style>
    TODO
    </template>
    <script>
        Polymer({
            created: function () {

            },
            ready: function () {
//                fields: ['id', 'p1', 'p2', 'reference', 'specie', 'cellularLocation', 'function', 'detection', 'intensity'],

//                columns: [
//                    { text: 'id', dataIndex: 'id', width: 40, editor: {xtype: 'textfield', allowBlank: false} },
//                    { text: 'p1', dataIndex: 'p1', width: 40, editor: {xtype: 'textfield', allowBlank: false} },
//                    { text: 'p2', dataIndex: 'p2', width: 40, editor: {xtype: 'textfield', allowBlank: false} },
//                    { text: 'reference', dataIndex: 'reference', width: 70, editor: {xtype: 'textfield', allowBlank: false} },
//                    { text: 'specie', dataIndex: 'specie', width: 50, editor: {xtype: 'textfield', allowBlank: false} },
//                    { text: 'cell Location', dataIndex: 'cellularLocation', width: 70, editor: {xtype: 'textfield', allowBlank: false} },
//                    { text: 'function', dataIndex: 'function', width: 50, editor: {xtype: 'textfield', allowBlank: false} },
//                    { text: 'detection', dataIndex: 'detection', width: 60, editor: {xtype: 'textfield', allowBlank: false} },
//                    { text: 'intensity', dataIndex: 'intensity', width: 60, editor: {xtype: 'textfield', allowBlank: false} }
//                ],

//                var inputFile = document.getElementById(me.fileInputEl.id).files[0];
//                var reader = new FileReader();
//                reader.onload = function (evt) {
//                    deleteAll();
//                    var res = evt.target.result.split('\n');
//                    for (var i = 0; i < res.length; i++) {
//                        var fields = res[i].split('\t');
//                        var obj = {
//                            id: fields[0],
//                            p1: fields[1],
//                            p2: fields[2],
//                            reference: fields[3],
//                            specie: fields[4],
//                            cellularLocation: fields[5],
//                            'function': fields[6],
//                            detection: fields[7],
//                            intensity: fields[8]
//                        };
//                        documents.push(obj);
//                        me.reset();
//                    }
//                    insert(documents);
//                };
//                reader.readAsText(inputFile, "UTF-8");
            }
        });
    </script>
</polymer-element>
