<polymer-element name="pty-heatmap" attributes="steps">
    <template>
        <div id="container" style="margin-bottom:20px">
        </div>
    </template>
    <script>
        Polymer({
            created: function () {
                this.categories = ['P1', 'HC-Pro', 'P3', '6K1', 'CI', '6K2', 'VPg', 'NIa-Pro', 'NIb', 'CP', 'P3N-PIPO'];
//                this.steps = [
//                    [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0.18, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.18, 0, 0, 0, 0, 1, 1, 0.75, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0.75, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
//                    [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0.04, 0, 0, 0, 0.3, 0, 0, 0, 0, 0, 0.04, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.3, 0, 0, 0, 0, 1, 1, 0.81, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0.81, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
//                    [1, 0, 0.44, 0, 0, 0, 0.31, 0, 0, 0, 0, 0, 1, 0.59, 0, 0, 0, 0.16, 0.01, 0.01, 0.12, 0, 0.44, 0.59, 1, 0, 0, 0, 0.36, 0.56, 0.51, 0.28, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.31, 0.16, 0.36, 0, 0, 0, 1, 1, 0.88, 0, 0, 0, 0.01, 0.56, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0.01, 0.51, 0, 0, 0, 0.88, 1, 1, 0, 0, 0, 0.12, 0.28, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
//                    [1, 0.11, 0.94, 0, 0, 0, 0.92, 0.53, 0.53, 0.02, 0, 0.11, 1, 0.8, 0, 0, 0, 0.57, 0.4, 0.4, 0.54, 0, 0.94, 0.8, 1, 0, 0, 0, 0.76, 0.94, 0.93, 0.71, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.92, 0.57, 0.76, 0, 0, 0, 1, 1, 0.98, 0.3, 0, 0.53, 0.4, 0.94, 0, 0, 0, 1, 1, 1, 0.13, 0, 0.53, 0.4, 0.93, 0, 0, 0, 0.98, 1, 1, 0.13, 0, 0.02, 0.54, 0.71, 0, 0, 0, 0.3, 0.13, 0.13, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
//                    [1, 0.59, 1, 0, 0, 0, 1, 0.93, 0.93, 0.5, 0, 0.59, 1, 0.99, 0, 0, 0, 0.91, 0.77, 0.78, 0.94, 0, 1, 0.99, 1, 0, 0, 0, 0.96, 1, 0.99, 0.99, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0.91, 0.96, 0, 0, 0, 1, 1, 0.99, 0.87, 0, 0.93, 0.77, 1, 0, 0, 0, 1, 1, 1, 0.77, 0, 0.93, 0.78, 0.99, 0, 0, 0, 0.99, 1, 1, 0.77, 0, 0.5, 0.94, 0.99, 0, 0, 0, 0.87, 0.77, 0.77, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
//                    [1, 0.89, 1, 0, 0, 0, 1, 0.98, 0.99, 0.86, 0, 0.89, 1, 1, 0, 0, 0, 0.99, 0.97, 0.97, 0.97, 0, 1, 1, 1, 0, 0, 0, 0.99, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0.99, 0.99, 0, 0, 0, 1, 1, 1, 1, 0, 0.98, 0.97, 1, 0, 0, 0, 1, 1, 1, 0.98, 0, 0.99, 0.97, 1, 0, 0, 0, 1, 1, 1, 0.98, 0, 0.86, 0.97, 1, 0, 0, 0, 1, 0.98, 0.98, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
//                    [1, 0.98, 1, 0, 0, 0, 1, 1, 1, 0.98, 0, 0.98, 1, 1, 0, 0, 0, 1, 0.99, 0.99, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0.99, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0.99, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0.98, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
//                    [1, 1, 1, 0, 0, 0, 1, 1, 1, 0.99, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0.99, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
//                    [1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
//                    [1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
//                    [1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
//                    [1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]
//                ];
            },
            attached: function () {
            },
            detached: function () {
                this.step = 1;
                clearInterval(this.interval);
            },
            domReady: function () {
                var me = this;
                this.step = 2;
                var size = 380;
                this.chart = new Highcharts.Chart({
                    chart: {
                        type: 'heatmap',
                        width: size,
                        renderTo: this.$.container,
                    },
                    title: {
                        text: 'Simpson index for the viral proteins through the HHPIN'
                    },
                    subtitle: {
                        text: 'Step 1'
                    },
                    credits: {
                        enabled: false
                    },
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }
                    },
                    yAxis: {
                        categories: this.categories,
                        title: null,
                    },
                    xAxis: {
                        categories: this.categories,
                        title: null,
                        labels: {
                            rotation: -90
                        }
                    },
                    colorAxis: {
                        min: 0,
                        max: 1,
                        minColor: '#3060cf',
                        maxColor: '#c4463a',
                        stops: [
                            [0, '#3060cf'],
                            [0.5, '#fffbbc'],
                            [1, '#c4463a']
                        ],
                        tickPositions: [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.99],
                        labels: {
                            formatter: function () {
                                if (this.value == 0.99) {
                                    return 1;
                                } else {
                                    return this.value;
                                }
                            }
                        }
                    },
                    legend: {
                        align: 'right',
                        layout: 'vertical',
                        margin: 0,
                        verticalAlign: 'middle'
//                                y: 50,
//                                symbolHeight: 240
                    },
                    series: [
                        {
                            borderWidth: 0,
                            data: this.getStepData(1),
                        },
                    ],
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.xAxis.categories[this.point.y] + '   </b> vs <b>' + this.series.yAxis.categories[this.point.x] + '</b><br>' +
                                    'Simpson index: <b>' + this.point.value + '</b>';
                        }
                    }
                });

                this.chart.reflow();
                this.interval = setInterval(function () {
                    me.chart.setTitle(null, {text: 'Step ' + me.step}, true);
                    me.chart.series[0].setData(me.getStepData(me.step), false);
                    me.chart.series[0].update();
                    me.step++;

                    if (me.step === 12) {
                        me.step = 1;
                    }
                }, 1000);
            },
            getStepData: function (step) {
                return this._getData(this.steps[step - 1]);
            },
            _getData: function (values) {
                var data = [];
                var arr;
                var n = this.categories.length;
                for (var i = 0; i < n; i++) {
                    for (var j = 0; j < n; j++) {
                        arr = []
                        arr.push(i);
                        arr.push(j);
                        arr.push(values[(i * 11) + j]);
                        data.push(arr);
                    }
                }
                return data;
            },
            stepsChanged: function (oldValue, newValue) {
                this.steps = newValue;
                this.step = 1;
            }
        });
    </script>
</polymer-element>