<polymer-element name="pty-4a" attributes="data">
    <template>
        <div id="container" style="margin-bottom:20px">
        </div>
    </template>
    <script>
        Polymer({
            created: function () {
            },
            attached: function () {
                if (this.chart) {
                    this.chart.reflow();
                }
            },
            dataChanged:function(){
                this.drawChart();
            },
            drawChart: function () {
                this.chart = new Highcharts.Chart({
                    chart: {
                        renderTo: this.$.container,
                        type: 'column'
                    },
                    title: {
//                                text: null,
                        text: 'Degree of each potyvirus protein'
                    },
                    credits: {
                        enabled: false
                    },
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }
                    },
                    xAxis: {
                        title: {
                            text: 'Potyvirus proteins'
                        },
                        categories: this.data.categories
                    },
                    yAxis: {
                        title: {
                            text: 'Protein degree'
                        }
                    },
                    series: [
                        {
                            name: 'Protein degree',
                            data: this.data.values,
                            color: '#f79646'
                        }
                    ],
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 100,
                        y: 70,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                        borderWidth: 1
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    }
                });
            },
//            setData: function (values, categories) {
//                this.data = values;
//                this.categories = categories;

//                this.chart.xAxis[0].setCategories(categories, false);
//                this.chart.series[0].setData(values, false);
//            },
        });
    </script>
</polymer-element>
